* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
}

header h2 {
    padding: 2rem;
}

#logo {
    padding: 2rem;
    text-decoration: none;
    color: black;
}

.search-form {
    padding: 2rem;
    display: flex;
}

.search-form input {
    font-size: 2rem;
    padding: .5rem;
    width: 100%;
    border: none;
    border: 2px solid rgb(59, 59, 114);
}

.search-form button {
    border: none;
    padding: .5rem;
    font-size: 1rem;
    background: rgb(59, 59, 114);
    color: white;
    cursor: pointer;
}

.gallery-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: .5rem 0;
}
.gallery-info a {
    color: gray;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 2rem 0;
    width: 80%;
    margin: auto;
    row-gap: 5rem;
    column-gap: 3rem;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}